# All LaTeX build artifacts should be ignored
*.aux
*.dvi
*.log
*.pdf
*.swp
*.gz
*.bbl
*.blg
*.out
*.lbl
*.brf
__pycache__
eps/
*.swp
*target/
*.ppm
*.png
*.bmp
*.obj
*.mtl
*.binary
*.mp4
imgui.ini
programming/bezierdatafiles/
programming/bspline2Ddata/
programming/bspline3Ddispdata/
programming/bsplinesurfaces/
programming/bsplinesurfdata/

